<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    {{liquid-outlet}}
  </div>
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Contacts</div>
      {{#each model as |contact|}}
      <ul class="list-group">
        <li class="list-group-item">{{#link-to 'contacts.details' contact.id}}{{contact.firstName}} {{contact.lastName}}{{/link-to}}</li>
      </ul>
      {{else}}
      <div class="panel-body">You don't have any contacts yet! {{#link-to 'contacts.new'}}Add some!{{/link-to}}</div>
      {{/each}}
    </div>
  </div>
</div>